<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="DefaultBinding" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/ServiceTest.svc" binding="wsHttpBinding" bindingConfiguration="DefaultBinding" contract="Trinity.ServiceWrappers.Tests.IServiceTest" name="Trinity.ServiceWrappers.Tests.IServiceTest" />
    </client>
  </system.serviceModel>
</configuration>